/node_modules
public/uploads/*
/public/uploads/
/node_modules
/api_haptapt/node_modules/
/api_haptapt/.env
/public/images
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor